<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Api.CommonProtos" version="2.7.0" />
  <package id="Google.Api.Gax" version="4.3.0" />
  <package id="Google.Api.Gax.Rest" version="2.3.0" />
  <package id="Google.Apis" version="1.59.0" />
  <package id="Google.Apis.Auth" version="1.59.0" />
  <package id="Google.Apis.Core" version="1.59.0" />
  <package id="Google.Apis.Texttospeech.v1" version="1.59.0.2924" />
  <package id="Google.Protobuf" version="3.21.0" />
  <package id="JH.Google.Cloud.TextToSpeech.V1" version="1.0.2" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" />
  <package id="Newtonsoft.Json" version="13.0.2" />
  <package id="System.Interactive.Async" version="3.1.1" />
</packages>